@model IEnumerable<TicketSite.Models.Venue>

@{
    ViewBag.Title = "Index";
}

<h2>All Venues</h2>

<p>
    @Html.ActionLink("Add a Venue", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Venue Name")
        </th>
     
        <th>
            @Html.DisplayName("Venue Location")
        </th>
        <th></th>
    </tr>

@foreach (var show in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => show.Venue_Name)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => show.Venue_Location)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=show.VenueID }) 
            
        </td>
    </tr>
}

</table>
