@model TicketSite.Models.Show

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venue_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShowID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
