@model IEnumerable<TicketSite.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

<p>
    @Html.ActionLink("Add an Artist", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Artist
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist_Name)

        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ArtistID }) 
            
            @if (User.Identity.IsAuthenticated) { 
            @Html.ActionLink("Edit", "Edit", new { id = item.ArtistID }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.ArtistID })
            }
        </td>

    </tr>
}

</table>
